<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- org.hnist.dao.NewsMapper对应的接口 -->
<mapper namespace="com.grizzly.dao.DeveloperMapper">
	<select id="allAppInform"  resultType="AppInform" >
    	select id,softwareName from app_info order by id asc
    </select>
</mapper>