<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="News" type="com.grizzly.model.News"/>
        <typeAlias alias="AppInform" type="com.grizzly.model.AppInform"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/grizzly/dao/NewsMapper.xml" />
        <mapper resource="com/grizzly/dao/DeveloperMapper.xml" />
    </mappers>
</configuration>